nav.navbar.navbar-dark(style="background-image: url('/css/" + image + "');")
      ul.nav.navbar-nav
        li.nav-item
          a.nav-link(href='/') Home
        li.nav-item
          a.nav-link(href='/article')
            | Article
        li.nav-item
          a.nav-link(href='#') Contact
      .jumbotron
        .container
          h1=title
          p=description